.footer-top {
    display: flex;
    margin-top: 50px;
    padding: 0px 50px 0 50px;
}

.footer-logo-share {
    margin: 22px 172px 0px 0px;
}

.footer-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #6C757D;
    text-decoration: none !important;
}

.footer-logo img {
    width: 130px;
    height: 136px;
    border-radius: 10px 0px 0px 0px;
}

.social {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #212529;
    margin-top: 29px;
}

.share {
    margin-top: 27px;
    gap: 12px;
    display: flex;
}

.share img {
    width: 32px;
    height: 32px;
}

.list {
    display: flex;
    gap: 130px;
    padding: 24px 0px 0px 0px;
}

.internet-shop {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.company {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.help {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.connect {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer-bottom {
    display: flex;
    border-top: 2px solid #E5E5E5;
    justify-content: space-between;
    padding: 50px;
    margin-top: 50px;
}

.utilities {
    display: flex;
    gap: 40px;
}

.dark-theme img {
    width: 20px;
    height: 20px;
}

.container-menu {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.menu-wrapper {
    position: relative;
    display: inline-block;
}

.sticky-button {
    background-color: rgba(213, 209, 209, 0.5);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    text-align: center;
    border: none;
}

.menu {
    display: none;
    position: absolute;
    bottom: 100%;
    width: 130%;
    right: 0;
    background-color: rgba(213, 209, 209, 0.5);
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #ccc;
}

.menu a:last-child {
    border-bottom: none;
}

.menu a:hover {
    background-color: #e0e0e0;
}

.menu-wrapper:hover .menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

